{% extends "admin/base_site.html" %}
{% block content %}
<form method="post" action="/admin/addtopanel">
	{% csrf_token %}
	<p>Add all projects to Panel:</p>
	<select name="panel">
	{% for panel in panels %}
		<option value="{{panel.id}}">
			{{panel.name}}
		</option>
	{% endfor %}
	</select>
	<hr>
	{% for project in projects %}
	<input type="checkbox" name="selected" value={{project.id}} checked> {{project.title}}<br>
	{% endfor %}
	<input type="submit" value="Add to panel">
</form>
{% endblock %}
{% block nav-global %}
<div id="user-tools">
    Welcome,
    <strong>dihadmin</strong>.
    <a href="/admin/helper">Detail Links</a> /
    <a href="/">View site</a> /
    <a href="/admin/password_change/">Change password</a> /
    <a href="/admin/logout/">Log out</a>
</div>
{% endblock %}
